@namespace TournamentApp.Components.Shared

<div style="margin-top: 1em;">
    <Alert Color="Color.Danger" @bind-Visible="@Visible">
        <AlertMessage>
            @Message
        </AlertMessage>
    </Alert>

</div>
@code {

    [Parameter]
    public string Message { get; set; } = "";

    [Parameter]
    public bool Visible { get; set; }= false;    
}